<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctrlappz.otlob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignActivity"
            android:parentActivityName=".activities.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewAccountWorkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.SuggestionActivity"
            android:label="@string/suggestions"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AccountSettingActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WorkerActivity"
            android:label=""
            android:parentActivityName=".activities.WorkersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WorkersActivity"
            android:label=""
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>